<main>
  <section class="sidebar">
    <h1>Hello {{ userData.firstname }} 😁,</h1>
    <p>Set up your quiz</p>
  </section>
  <section>
    <form
      class="flex flex-col items-end gap-5 w-full animate__animated"
      [ngClass]="{
        'animate__fadeIn animate__faster': !isLargeScreen,
        'animate__bounceInUp animate__faster': isLargeScreen
      }"
      (ngSubmit)="onSubmit($event)"
    >
      <app-select
        label="Type of questions"
        [options]="typeOptions"
        (selectionChange)="selectedType = $event"
        (keydown.enter)="$event.preventDefault()"
        class="w-full"
      ></app-select>

      <div class="w-full flex lg:flex-row flex-col gap-5 md:gap-2 items-center">
        <app-select
          label="Difficulty"
          [options]="difficultyOptions"
          (selectionChange)="selectedDifficulty = $event"
          (keydown.enter)="$event.preventDefault()"
          class="w-full"
        ></app-select>

        <app-number-input
          label="Nomber of questions"
          [value]="amount"
          class="w-full"
          minValue="5"
          maxValue="100"
          (valueChange)="onAmountChange($event)"
          (keydown.enter)="$event.preventDefault()"
        ></app-number-input>
      </div>

      <p *ngIf="errorMessage !== ''" class="text-red-400 w-full">
        {{ errorMessage }}
      </p>

      <div class="flex items-center gap-2">
        <app-button
          type="button"
          [label]="'Previous'"
          [color]="'secondary'"
          (click)="onPrevious()"
        ></app-button>
        <app-button
          type="submit"
          [label]="isMobile() ? 'Start' : 'Start the quizz'"
          [color]="'primary'"
        ></app-button>
      </div>
    </form>
  </section>
</main>
