<main>
  <section class="sidebar">
    <h1>Bonjour {{ userData.firstname }} 😁,</h1>
    <p>Parametrez votre quizz</p>
  </section>
  <section>
    <form
      class="flex flex-col items-end gap-5 w-full"
      (ngSubmit)="onSubmit($event)"
    >
      <app-select
        label="Type de question"
        [options]="typeOptions"
        (selectionChange)="selectedType = $event"
        class="w-full"
      ></app-select>

      <div class="w-full flex gap-2 items-center">
        <app-select
          label="Difficulté"
          [options]="difficultyOptions"
          (selectionChange)="selectedDifficulty = $event"
          class="w-full"
        ></app-select>

        <app-number-input
          label="Nombre de questions"
          [value]="amount"
          (valueChange)="amount = $event"
          class="w-full"
        ></app-number-input>
      </div>

      <div class="flex items-center gap-2">
        <app-button
          type="button"
          [label]="'Précédent'"
          [color]="'secondary'"
          (click)="onPrevious()"
        ></app-button>
        <app-button
          type="submit"
          [label]="'Suivant'"
          [color]="'primary'"
        ></app-button>
      </div>
    </form>
  </section>
</main>
