<div class="flex flex-col gap-3">
  <label
    *ngFor="let option of options"
    class="flex items-center p-4 gap-1 rounded-lg cursor-pointer"
    [ngClass]="[
      getOptionClass(option),
      selectedValue === option ? 'bg-cyan-300/10' : ''
    ]"
  >
    <input
      type="radio"
      [id]="option"
      [value]="option"
      [(ngModel)]="selectedValue"
      [name]="name"
      (change)="onSelectChange()"
      class="w-fit"
      [disabled]="isAnswer"
    />
    <span
      class="ml-2 text-sm font-bold"
      [ngClass]="{
        'text-cyan-700': selectedValue === option,
        'text-gray-700': selectedValue !== option
      }"
    >
      {{ option }}
    </span>
  </label>
</div>
