.border-cyan-700 {
  border: 2px solid #006e7f;
}

.border-green-500 {
  border: 2px solid #10b981;
}

.border-red-500 {
  border: 2px solid #ef4444;
}

.bg-cyan-300/10 {
  background-color: rgba(0, 139, 162, 0.1);
}
